   <main>
    <div class="banner">
        <div class="info">
            Welcome to <strong>HireHub</strong>, your new tech job waits for <strong>you</strong>!
        </div>
    </div>
    
    <div class="applications" id="applications">
        <div class="section-title">Applications</div>   
        <div class="filterbar" >
            <form action="/filterBar" method="post" class="filters" id="filterBar">
                <legend>Enter your filters:</legend>
                <div class="fieldset">
                    <div class="filter"><label for="Proffesion">Desired Field:</label>
                        <select name="proffesion" id="Proffesion">
                            <option value="all">All</option>
                            <option value="algorithm-engineer">Algorithm Engineer</option>
                            <option value="front-end">Front-end</option>
                            <option value="back-end">Back-end</option>
                            <option value="data-science">Data-Science</option>
                        </select>
                    </div>
                    <div class="filter"><label for="region">Desired Location:</label>
                        <select name="region" id="region">
                            <option value="all">All</option>
                            <option value="Athens">Athens</option>
                            <option value="Patras">Patras</option>
                            <option value="Thessaloniki">Thessaloniki</option>
                            <option value="Larissa">Larissa</option>
                        </select>
                    </div>
                        
                    <div class="filter"><label for="Job-type">Job-type:</label>
                        <select name="jobType" id="Job-type">
                            <option value="all">All</option>
                            <option value="Part-time">Part time</option>
                            <option value="Full-time">Full time</option>
                            <option value="Internship">Internship</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="exit submit">Enter</button>
            </form>
        </div>
       {{#if appsAny}}

        
        <div class="applications-box" id="applications">
            {{#each apps}}
            <div class="application">
                <img src="/{{photo}}" alt="">
                <div class="application-description">
                    <div class="company">{{companyName}}</div>
                    <div class="application-info">Job Type: {{field}}</div>
                    <div class="application-info">Proffesion field: {{typeOfWork}}</div>
                    <div class="application-info">Location: {{region}}</div>              
                    {{!-- <div class="application-info less" id="description"> --}}
                    <div class="application-info less" id="description">

                        Description: {{description}}
                        {{#author}}
                        <div>author:<b>{{email}}</b></div>
                        {{/author}}
                    </div>
                    <div class="show-more"><a href='/apply/{{_id}}' class="apply exit">Apply now</a><span class="more">Show More</span></div>
                    
                </div>
            </div>
            {{/each}}
        </div>
        <div class="counter">
            <div>showing <span class="current-application from">1</span> to <span class="current-application to">5</span> out of <span class="total-application">{{appsAny}}</span></div>
            <div><span class="arrow left">&lt;</span><span class="page-number">1</span><span class="arrow right">&gt;</span></div>
        </div>
        {{else}}
        <p>No applications for you at the momment!</p>
        {{/if}}
    </div>

    <div class="my-applications" id="my-applications">
        <div class="section-title">My Applications</div>
        {{#if myAppsAny}}
        <div class="applications-box" id="applications">
            {{#each myApps}}

            <div class="application">
                <img src="/{{photo}}" alt="">
                <div class="application-description">
                    <div class="company">{{companyName}}</div>
                    <div class="application-info">Job Type: {{field}}</div>
                    <div class="application-info">Proffesion field: {{typeOfWork}}</div>
                    <div class="application-info">Location: {{region}}</div>              
                    {{!-- <div class="application-info less" id="description"> --}}
                    <div class="application-info less" id="description">
                        Description: {{description}}
                        {{#author}}
                        <div>author:<b>{{email}}</b></div>
                        {{/author}}
                    </div>
                    <div class="show-more"><a href='/cancel/{{_id}}' class="apply exit">Cancel</a>
                    <span>Status:</span><span class="status">{{stat}}</span> 
                    <span class="more">Show More</span></div>
                    
                </div>
            </div>
            {{/each}}
        <div class="counter">
            <div>showing <span class="current-application from">1</span> to <span class="current-application to"></span> out of <span class="total-application">{{myAppsAny}}</span></div>
            <div><span class="arrow left">&lt;</span><span class="page-number">1</span><span class="arrow right">&gt;</span></div>
        </div>
      
        {{else}}
        <p>You have not applied to any job.</p>
        {{/if}}
    </div>

    
</main>